/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/*** Purchases List ***/
.purchase-detail-wrapper {
    border: 1px solid #6FBF2C;
    padding: 10px 20px;
    position: relative;
    margin-bottom: 20px;
}

.purchase-detail-wrapper .detail-tag-container {
    min-width: 170px;
    float: left;
}

.purchase-detail-wrapper .detail-container {
    overflow: hidden;
}

.purchase-detail-wrapper .detail-tag {
    font-weight: 700;
    display: inline-block;
    min-width: 170px;
    font-size: 16px;
}

.purchase-detail-wrapper .purchase-detail {
    font-size: 16px;
}

.purchase-detail-wrapper .purchase-detail-inner {
    clear: both;
    margin: 10px 0;
}

.purchase-detail-wrapper .valid-tag {
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #6FBF2C;
    font-size: 16px;
}

.purchase-detail-wrapper .valid-tag::first-letter {
    text-transform: capitalize;
}

.purchase-detail-wrapper.expired {
    border-color: #d35a29;
}

.purchase-detail-wrapper.expired .valid-tag {
    color: #d35a29;
}

/*** Create ticket ***/
.sss-select-theme-wrap {
    margin-bottom: 15px;
}
.sss-select-theme span {
    vertical-align: middle;
}
.sss-select-theme span.disabled {
    color: #c6c5bd;
}
.sss-select-theme input[type=radio] {
    margin-right: 10px;
    vertical-align: middle;
    margin-top: 0;
    margin-left: 2px;
}

/*** Tooltip ***/
.sss-select-theme .tooltiptext {
    width: 50%;
    background-color: #6d6d6d;
    color: #fff;
    text-align: center;
    padding: 6px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
    font-size: 15px;
}
.sss-select-theme .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #6d6d6d transparent transparent transparent;
}
.sss-select-theme:hover .tooltiptext {
    opacity: 1;
}

/*** SSS Message ***/
.sss-message.success,
.sss-message.error {
    border: 1px solid;
    padding: 5px 20px;
}

.sss-message.success {
    color: #6fbf2c;
    border-color: #6fbf2c;
}
.sss-message.error {
    color: #d35a29;
    border-color: #d35a29;
}

ul.sss-message.error {
    padding: 8px 20px;
    border: 1px solid #d35a29;
    max-width: 500px;
    list-style: none;
    font-weight: bold;
    margin-left: 0;
}

ul.sss-message.error li {
    color: #d35a29;
    padding: 5px 0 5px 15px;
    display: block;
    position: relative;
    list-style: none;
}

ul.sss-message.error li:before {
    position: absolute;
    left: 0;
    top: 3px;
    content: "*";
    font-size: 26px;
    display: inline-block;
}

/*** Form Styles ***/
.sss-form-wrapper {
    margin-bottom: 20px;
}
.sss-form-wrapper label {
    margin-bottom: 5px;
    display: inline-block;
}
.sss-select-theme {
    position: relative;
}
.sss-form h4 {
    margin-bottom: 5px;
}
.sss-form input[type=text],
.sss-form input[type=email],
.sss-form input[type=password] {
    min-height: 30px;
}
.sss-form input[type="text"],
.sss-form input[type="email"],
.sss-form input[type="number"],
.sss-form input[type="tel"],
.sss-form input[type="password"],
.sss-form textarea {
    font-size: 16px;
    width: 98%;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    padding: 10px;
    border: 1px solid #eaeaea;
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.sss-form input:focus,
.sss-form textarea:focus {
    border: 1px solid #c1c1c1;
    color: #333;
}
.sss-form input[type=submit] {
    opacity: 1;
    height: 55px;
    background: #333333;
    color: #FFFFFF;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    border: none;
    display: inline-block;
    min-width: 180px;
    text-align: center;
    font-size: 16px;
}
.sss-form input[type=submit]:hover {
    background-color: #707070;
    background-color: rgba(51, 51, 51, 0.7);
}